---
import { generateImage } from "astro-eleventy-img";
import { Icon } from "astro-icon";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const { webp, avif, png } = generateImage("src/assets/logo.png", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/schmied",
  urlPath: "/assets/images/schmied",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<section class="relative h-full w-full bg-black">
  <div
    class="relative grid h-full w-full sm:grid-cols-2 place-items-center gap-10"
  >
    <h2
      class="flex flex-col self-end gap-4 sm:gap-10 sm:self-auto sm:justify-self-end"
    >
      <div
        class="font-extrabold tracking-tighter text-center text-4xl gradient-text"
      >
        Jan Pfitzner
        <br /> der Softwareschmied
      </div>
      <div class="grid grid-cols-1">
        <a
          href="mailto://jan@der-softwareschmied.de"
          class="group flex items-center justify-center gap-3 px-6 py-4 border-2 border-teal-300 text-teal-300 hover:border-purple-500 hover:bg-purple-500 hover:text-white"
        >
          <Icon
            pack="mdi"
            name="file-account"
            class="h-8 group-hover:animate-bounce"
          />
          <span>Mein Resume/CV anfragen</span>
        </a>
      </div>
    </h2>

    <picture
      class="self-start w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <source type="image/avif" srcset={avifSrcset} {sizes} />
      <source type="image/webp" srcset={webpSrcset} {sizes} />
      <source type="image/png" srcset={pngSrcset} {sizes} />
      <img
        class="object-contain w-full h-full max-h-[50vh]"
        src={png[0].url}
        width={png[0].width}
        height={png[0].height}
        alt="A blacksmith"
      />
    </picture>
  </div>
</section>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  picture {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }
  }
</style>
